/* Setting up the font that is used on this webpage */
@font-face{
    font-family: "Oswald";
    src: url("Oswald/static/Oswald-Regular.ttf");
}

/* Initializing general body stuff */
body{
    background-color: orange;
    font-family: "Oswald";
}

/* Customizing the canvas */
canvas{
    margin: 0 auto;
    background-color: white;
    margin-left: 100px;
}


#blocksinfo{
    text-align: center;
    font-weight: bold;
    float: left;
    width: 25%;
    height: 600px;
    margin-left: 10%;
    align-items: center;
    font-size: 48px;
}

#disclaimer{
    font-size: 16px;
}
#blockscanvas{
    float: right;
    width: 60%;
}
h1{
    text-align: center;
}

.slider{
    width: 40.25%;
    margin-left: 46.5%;
    margin-bottom: 45px;
}

.description{
    float: left;
    width: 30%;
    background-color: white;
    margin-left: 10%;
    margin-bottom: 45px;
    border: 2px solid black;
}

.description h3{
    text-align: center;
    padding: 45px;
}

.description p{
    padding: 45px;
}

.customization{
    float: right;
    margin-right: 14%;
    margin-bottom: 5%;
    margin-left: 5%;
    width: 40%;
    background-color: white;
    height: 500px;
    border: 2px solid black;
}

.customization button{
    display: block;
    margin: 0 auto;
    width: 90%;
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    font-weight: bold;
}

.customization h3{
    text-align: center;
}

#orange{
    border: 2px solid orange;
}

#red{
    border: 2px solid red;
}

#blue{
    border: 2px solid blue;
}

#yellow{
    border: 2px solid yellow;
}

#blackandwhite{
    border: 2px solid black;
}

#orange:hover{
    background-color: rgb(250, 213, 165);
}

#red:hover{
    background-color: rgb(255, 99, 71);
}

#blue:hover{
    background-color: rgb(0, 191, 255);
}

#yellow:hover{
    background-color: rgb(250, 250, 210);
}

#blackandwhite:hover{
    background-color: black;
    color: white;
}

.footer{
    display: block;

}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background: #888;
}

a, a:visited{
    text-decoration: none;
    color: black;
}

.betting-info{
    width: 40%;
    margin-left: 46.5%;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

#betting-question{
    font-size: 16px;
}

#betting-button-rock, #betting-button-paper, #betting-button-scissors{
    background-color: white;
    font-family: "Oswald";
    border-radius: 4px;
    padding: 20px;
    margin: 0 10px;
}

#betting-button-rock:hover, #betting-button-paper:hover, #betting-button-scissors:hover{
    background-color: lightgray;
}

#betting-timer, #win-or-not{
    font-size: 16px;
}